---
import Layout from "../layouts/Layout.astro";
import Collapse from "../components/Collapse";
import { CollapseTypes } from "../components/Collapse";
import Carousel from "../components/Carousel";

const instagram:string = "https://www.instagram.com/melissatakai";
---
<Layout title="TAKAI WORKS">
	<nav class="pt-[2.74vw] pl-[6vw] pr-[6vw] pb-[2.6vw]">
		<div class=" flex justify-between items-center">
			<a href="/" class="text-[.89em]">TAKAI WORKS</a>
			<div class=" flex flex-row gap-10 items-center">
				<a href='/' class=" text-[.89em] box-border decoration-1 underline underline-offset-[5px] ">HOME</a>
				<a href={instagram} class={``}>
					<img src={`/instagram.svg`} class="h-[16.5px]"/>
				</a>
			</div>
		</div>
	</nav>

	<section id='picture-showcase'>
		<Carousel client:load/>
	</section>

	<section id="more info">
		<div class="mt-12 ml-[6vw] flex flex-row gap-10">
			<div class="flex flex-col">
				<h2 class=" font-Inconsolata mb-8 text-[.89em] w-72">Melissa Takai is a multidisciplinary designer based in Seattle. On the weekends, she walks across town to play with words.</h2>
				<span class=" text-[.89em]">+1 971.406.0770</span>
				<a href="mailto:takaimelissa@gmail.com" class=" underline underline-offset-[3px] text-[.89em] decoration-1">takaimelissa@gmail.com</a>
			</div>
			<div class="flex flex-col gap-[5.5px] mt-[-1px]">
				<Collapse client:load type={CollapseTypes.Experience} />
				<Collapse client:load type={CollapseTypes.Education} />
				<Collapse client:load type={CollapseTypes.Playlist} />
			</div>
		</div>
	</section>
</Layout>